.preview-window {
  font-size: 10px;
  padding: 1rem;
  border: 1px solid #555;
  min-height: 40rem;
}
.preview-window h1,
.preview-window h2,
.preview-window h3,
.preview-window h4,
.preview-window h5,
.preview-window h6 {
  margin-bottom: 0.2em;
}
.preview-window p,
.preview-window div {
  margin-bottom: 0em;
}
.preview-window h1 {
  font-size: 16px;
}
.preview-window h2 {
  font-size: 14px;
}
.preview-window h3 {
  font-size: 13px;
}
.preview-window h4 {
  font-size: 12px;
}
.preview-window h5 {
  font-size: 11px;
}
.preview-window h6 {
  font-size: 10px;
}
.preview-window p {
  font-size: 12px;
}
.preview-window div {
  font-size: 12px;
}
