:root {
  --animation-length: 0.3s;
}

.preview-window {
  font-size: 10px;
  padding: 1rem;
  background-color: white;
  border: 1px solid #555;
  min-height: 40rem;
  position: relative;
  z-index: 3;
}
.preview-window h1,
.preview-window h2,
.preview-window h3,
.preview-window h4,
.preview-window h5,
.preview-window h6 {
  margin-bottom: 0.2em;
}
.preview-window p,
.preview-window div {
  margin-bottom: 0em;
}
.preview-window h1 {
  font-size: 16px;
}
.preview-window h2 {
  font-size: 14px;
}
.preview-window h3 {
  font-size: 13px;
}
.preview-window h4 {
  font-size: 12px;
}
.preview-window h5 {
  font-size: 11px;
}
.preview-window h6 {
  font-size: 10px;
}
.preview-window p {
  font-size: 12px;
}
.preview-window div {
  font-size: 12px;
}

.resume-form {
  animation: fade-up var(--animation-length);
  position: relative;
  z-index: 0;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.update-buttons {
  animation: fade-in var(--animation-length);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.job-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pre-wrap {
  white-space: pre-wrap;
}

.skills-title {
  margin-bottom: 0.4rem !important;
}

.skills-skills {
  line-height: 1.3;
}
